<a href="https://colab.research.google.com/github/FlorcitaHnatiuk/FlorcitaHnatiuk/blob/main/Clase_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Manejo de archivos y datos

Para leer y escribir archivos de texto plano (txt) en python necesitamos usar la función open

open recibe 2 parametros
*   **filename**: la ruta donde se encuentra el archivo (o donde lo queremos almacenar)
*   **mode**: Este parámetro es una cadena que se utiliza para especificar el modo en el que debe abrirse el archivo. Las siguientes cadenas pueden utilizarse para activar un modo específico:

  - **'r'**: se utiliza para leer(sólo) el archivo. Se pasa por defecto si no se suministra ningún parámetro y devuelve un error si no existe tal archivo.
  - **'w'**: se utiliza para escribir en/sobre el archivo. Si el archivo con el nombre suministrado no existe, crea uno por nosotros.
  - **'a'**: se utiliza para añadir (anexar) contenido a un archivo existente. Si no existe tal archivo, crea uno para nosotros.
  - **'x'**: se utiliza para crear un archivo específico.
  - **'b'**: se utiliza cuando el usuario quiere manejar el archivo en modo binario. Generalmente se utiliza para manejar archivos de imagen.
  - **'t'**: se utiliza para manejar archivos en modo texto. Por defecto, la función open() utiliza el modo texto.

## Escritura de archivos

Para escribir en un archivo, necesitamos la funcion write

In [ ]:
f = open('/content/ejemplo_escritura.txt', 'w')

f.write('adios a todos')

f.close()

In [ ]:
f = open('/content/ejemplo_escritura.txt', 'w')

texto = input('Ingrese un texto')

f.write(texto)

f.close()

Ingrese un textoarepitas con queso

In [ ]:
f = open('/content/ejemplo_escritura.txt', 'a')

dni = 1234

f.write(str(dni))

f.close()

In [ ]:
chat_string = ''
while True:

  chat = input('Escriba un mensaje, 0 para salir \n')
  if chat == '0':
    chat = ''
    break
  chat_string += chat + '\n'

chat_file = open('/content/ejemplo_lecturaa.txt', 'a')
chat_file.write(chat_string)
chat_file.close()

Escriba un mensaje, 0 para salir
hola chicos
Escriba un mensaje, 0 para salir
esta clase es practica
Escriba un mensaje, 0 para salir
argentina papaaaaaa
Escriba un mensaje, 0 para salir
clase 8
Escriba un mensaje, 0 para salir
adios
Escriba un mensaje, 0 para salir
0

In [ ]:
while True:
  chat_file = open('/content/chat.txt', 'a')

  chat = input('Escriba un mensaje, 0 para salir \n')
  if chat == '0':
    chat = ''
    break
  chat_file.write(chat)

  chat_file.close()

Escriba un mensaje, 0 para salir
test
Escriba un mensaje, 0 para salir
5
Escriba un mensaje, 0 para salir
0

## Lectura de Archivos

Para leer archivos tenemos 3 metodos importantes


1.   **read**: devuelve los bytes leídos en forma de cadena. Lee n bytes, si no se especifica n, lee todo el archivo.
2.   **readline**: Lee una línea del archivo y devuelve en forma de cadena. Para n especificado, lee como máximo n bytes. Sin embargo, no lee más de una línea, aunque n supere la longitud de la línea.
3.   **readlines**: Lee todas las líneas y devuelve como cada línea un elemento de cadena en una lista.

In [ ]:
# Utilizando read

ejemplo_lectura = open('/content/ejemplo_lectura.txt', 'r')
print(ejemplo_lectura.read())
ejemplo_lectura.close()

<class 'str'>

In [ ]:
# Utilizando readline

ejemplo_lectura = open('/content/ejemplo_lectura.txt', 'r')
print(ejemplo_lectura.readline())
ejemplo_lectura.close()

hola chicos

In [ ]:
# Utilizando readlines

ejemplo_lectura = open('/content/ejemplo_lectura.txt', 'r')

for linea in ejemplo_lectura.readlines():
  print(linea)

ejemplo_lectura.close()

['hola chicos\n', 'esta clase es practica\n', 'argentina papaaaaaa\n', 'clase 8\n', 'adios\n']

En Python, la función seek() se utiliza para cambiar la posición del El manejador de archivo a una posición específica dada. El manejador de archivo es como un cursor, que define desde donde los datos tienen que ser leídos o escritos en el archivo.

In [ ]:
# Utilizando seek

ejemplo_lectura = open('/content/ejemplo_lectura.txt', 'r')

ejemplo_lectura.seek(30) #[6:]
print(ejemplo_lectura.read())

ejemplo_lectura.close()

tica
argentina papaaaaaa
clase 8
adios

## Ejemplo 1 

Simularemos el login y registro de Facebook, utilizaremos el archivo usuarios.txt para leer y almacenar usuarios.

Los usuarios se almacenan con el siguiente formato:

*username,password,nombre,apellido*

Puntos clave:


1.   Para el login es necesario leer el archivo y verificar que el usuario se encuentra en el mismo
2.   Para registrar a un nuevo usuario, es necesario escribir en el archivo (cual sera la funcion mas adecuada: write o append?)
3.   Para login los usuarios solo deben ingresar su username y su password, se retornara un mensaje con nombre y apellido
4.   Para registro se debe pedir los campos username, password, nombre, apellido respectivamente

Para practicar: mejorar el programa para que tenga un numero de intentos, en caso de que el usuario ingrese mal el correo o

In [ ]:
opcion = int(input('Digite 1 para iniciar sesion o 2 para registrarse: '))

if (opcion == 1):
  print('Iniciar Sesion')

  username = input('Usuario: ')
  pwd = input('Contraseña: ')

  file = open('/content/usuarios.txt', 'r')
  for linea in file.readlines():
    print(linea)
    data = linea.split(',')

    if(data[0] == username and data[1] == pwd):
      print(f'Bienvenido a Facebook :D {data[2]} {data[3]}')
      file.close()
      break
    else:
      print('Usuario o contraseña incorrectos')

elif (opcion == 2):
  print('Registro')
  username = input('Usuario: ')
  pwd = input('Contraseña: ')
  nombre = input('Nombre: ')
  apellido = input('Apellido: ')

  f = open('/content/usuarios.txt', 'a')

  # username,password,nombre,apellido
  f.write(f'{username},{pwd},{nombre},{apellido}\n')

  f.close()


else:
  print('Opcion no valida')

Digite 1 para iniciar sesion o 2 para registrarse: 2
Registro
Usuario: goku
Contraseña: 3 - 0 > 7 - 1
Nombre: Luis
Apellido: Sandoval

In [ ]:
nombre = input('Como se llama tu mascota: ')
edad = input('Cuantos años tiene?: ')
tipo_animal = input('Que tipo de animal es?: ')

f = open('/content/desafio1.txt', 'a')

f.write(f'Mi mascota se llama {nombre}, tiene {edad} años y es {tipo_animal} \n')
f.close()

Como se llama tu mascota: firulais
Cuantos años tiene?: 6
Que tipo de animal es?: perro

## Archivos JSON

JSON (JavaScript Object Notation - Notación de Objetos de JavaScript) es un formato ligero de intercambio de datos. Leerlo y escribirlo es simple para humanos, mientras que para las máquinas es simple interpretarlo y generarlo. 

Ejemplo:



```
{ 
    "cliente": {  
      "id": 2020, 
      "nombre": "Maria Aparecida" 
    },
    "pagos": [  
        {  
          "id": 123,   
          "descripcion": "Compra del libro Cangaceiro JavaScript",    
          "valor": 50.5   
        },   
        {    
          "id": 124,    
          "descripcion": "Mensualidad escolar",    
          "valor": 1500   
        }  
    ]
}
```

Para utilizar JSON en Python es necesario utilizar la librería json

In [ ]:
import json

La librería JSON nos provee 2 métodos importates que veremos a continuación


*   **load()**: puede leer un archivo que contiene un objeto JSON. Supongamos que tienes un archivo llamado student.json que contiene datos de estudiantes y queremos leer ese archivo.


*   **dump()** se utiliza para escribir el objeto serializado de Python como datos con formato JSON en un archivo.

In [ ]:
# Utilicemos dump para cargar el JSON de ejemplo en un archivo
dict_ejemplo = { 
    "cliente": {
      "id": 2020, 
      "nombre": "Maria Aparecida" 
    },
    "pagos": [  
        {  
          "id": 123,   
          "descripcion": "Compra del libro Cangaceiro JavaScript",    
          "valor": 50.5   
        },   
        {    
          "id": 124,    
          "descripcion": "Mensualidad escolar",    
          "valor": 1500   
        }  
    ]
}



with open('/content/ejemplo_json.json', 'w') as file: # file = open()
    json.dump(dict_ejemplo, file) # file.write()

In [ ]:
# Utilicemos load para leer el ejemplo
with open('/content/ejemplo_json.json', 'r') as file:
  data = json.load(file) # file.read()

print(data)

{'cliente': {'id': 2020, 'nombre': 'Maria Aparecida'}, 'pagos': [{'id': 123, 'descripcion': 'Compra del libro Cangaceiro JavaScript', 'valor': 50.5}, {'id': 124, 'descripcion': 'Mensualidad escolar', 'valor': 1500}]}
<class 'dict'>

In [ ]:
opcion = int(input('Digite un 1 para iniciar sesion o un 2 para registrarse: '))
new_data = {
    'usuarios': []
}
#{usuarios: [lista]}
#Clave : valor

if(opcion == 1):
    print('INICIAR SESION\n')
    username = input('Username: ')
    pwd = input('Contraseña: ')
    with open('/content/usuarios.json', 'r') as file:
        data = json.load(file)
        for user in data['usuarios']:
            if(user['username'] == username and user['pwd'] == pwd):
                print(f'Bienvenido a Fakebook :D {username}')
                print('En que estas pensando...')
                break
        else:
            print('Usuario no encontrado')
elif(opcion == 2):
    print('REGISTRO\n')

    newdata = {
        'username': input('Username: '),
        'pwd' : input('Contraseña: '),
        'name' : input('Nombre: '),
        'lastName' : input('Apellido: ')
    }
    #file = open('/content/usuarios.json', 'r')
    with open('/content/usuarios.json', 'r') as file:
        data = json.load(file)
    data['usuarios'].append(newdata)

    with open('/content/usuarios.json', 'w') as file:
        json.dump(data,file)
    print('Registro Exitoso!')
else:
    print('Opcion no valida')

Digite un 1 para iniciar sesion o un 2 para registrarse: 1
INICIAR SESION

Username: profe
Contraseña: asd.456
Bienvenido a Fakebook :D profe
En que estas pensando...

## Pandas para lectura de CSV

pandas es una poderosa librería para manipulación de datos en python (data wrangling).

Cuenta con un amplio rango de metodos para la lectura de fuentes de datos (archivos)

En esta clase veremos el fundamental para leer archivos separados por comas (CSV)

In [ ]:
import pandas as pd

df = pd.read_csv('/content/dataset_turnos_detalle.csv')

In [ ]:
df.head()

,genero,sede,servicio,fecha_cita
0,MASCULINO,Centro Islámico,Adultos Mayores de 80 años,01MAR2021:11:15:00
1,MASCULINO,Club Ferro,Adultos Mayores de 80 años,02MAR2021:09:00:00
2,FEMENINO,La Rural,Adultos Mayores de 80 años,01MAR2021:13:30:00
3,MASCULINO,Centro de día Parque Chacabuco,Adultos Mayores de 80 años,25FEB2021:13:00:00
4,FEMENINO,Centro C. Recoleta,Adultos Mayores de 80 años,01MAR2021:13:30:00

In [ ]:
df.tail()

,genero,sede,servicio,fecha_cita
1925040,FEMENINO,Casa del Historiador,Adultos Mayores de 80 años,23FEB2021:15:45:00
1925041,MASCULINO,La Rural,Adultos Mayores de 80 años,02MAR2021:15:00:00
1925042,FEMENINO,Club Glorias Argentinas,Adultos Mayores de 80 años,25FEB2021:13:30:00
1925043,MASCULINO,Centro de Dia N9 y 13,Adultos Mayores de 80 años,25FEB2021:08:15:00
1925044,FEMENINO,Club San Lorenzo,Adultos Mayores de 80 años,26FEB2021:11:30:00

In [ ]:
df.sample(5)

,genero,sede,servicio,fecha_cita
1292634,FEMENINO,Centro Islámico,Adultos Mayores de 18 años,15JUN2021:13:00:00
931120,FEMENINO,Club River Plate,Docentes y No Docentes,31MAY2021:13:30:00
1179563,MASCULINO,Estadio Luna Park,Adultos Menores de 60 años con condiciones de ...,09JUN2021:12:45:00
719454,FEMENINO,Estadio Luna Park,Docentes y No Docentes,08MAY2021:14:15:00
1803611,FEMENINO,Usina del Arte,Adultos Mayores de 18 años,06JUL2021:13:30:00

Para seleccionar una columna en pandas, podemos utilizar la notación de diccionarios

Ejemplo


```
diccionario['clave']
```

Al igual que los diccionarios, pandas nos retornará un valor, pero en lugar de ser un valor escalar (un valor de una dimension), este será una columna

In [ ]:
df['sede']

0                         Centro Islámico
1                              Club Ferro
2                                La Rural
3          Centro de día Parque Chacabuco
4                      Centro C. Recoleta
                        ...
1925040              Casa del Historiador
1925041                          La Rural
1925042           Club Glorias Argentinas
1925043             Centro de Dia N9 y 13
1925044                  Club San Lorenzo
Name: sede, Length: 1925045, dtype: object

In [ ]:
df['test'] = 1

In [ ]:
df.head()

,genero,sede,servicio,fecha_cita,test
0,MASCULINO,Centro Islámico,Adultos Mayores de 80 años,01MAR2021:11:15:00,1
1,MASCULINO,Club Ferro,Adultos Mayores de 80 años,02MAR2021:09:00:00,1
2,FEMENINO,La Rural,Adultos Mayores de 80 años,01MAR2021:13:30:00,1
3,MASCULINO,Centro de día Parque Chacabuco,Adultos Mayores de 80 años,25FEB2021:13:00:00,1
4,FEMENINO,Centro C. Recoleta,Adultos Mayores de 80 años,01MAR2021:13:30:00,1

Esta cualidad es sumamente util, dado a que nos permite estudiar solo el comportamiento de una variable en lugar de todo el conjunto de datos

En este caso, podemos realizar operaciones estadisticas como la media o mediana en caso de variables numericas.

En el caso de la variable 'servicio', esta contiene solo elementos string, en este caso se le conoce como variable categorica. A esta podemos aplicarle la funcion `value_counts`, esta calculara la frecuencia simple de la variable

In [ ]:
df['test'].std()

0.0

In [ ]:
df['servicio'].value_counts()

Adultos Mayores de 18 años                              608162
Personal de Salud                                       271579
Adultos Menores de 60 años con condiciones de riesgo    199411
Adultos Mayores de 60 años                              181816
Adultos Mayores de 80 años                              167582
Adultos Mayores de 70 años                              160982
Docentes y No Docentes                                   95950
Adultos Mayores de 65 años                               86877
Adultos Mayores de 75 años                               72370
Personas con Alergia Severa                              32391
Personal estratégico Seguridad                           20696
Personal estratégico Desarrollo Humano                    9146
Adultos Mayores PAMI                                      9091
Barrios Vulnerables                                       5191
Exceptuados                                               2836
Empleados Casas Funerarias                                 965
Name: servicio, dtype: int64