<a href="https://colab.research.google.com/github/FlorcitaHnatiuk/FlorcitaHnatiuk/blob/main/Desafios_clase_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Desafio 1
Programa las siguientes instrucciones de forma ordenada sobre la variable **grupo**:

* Añade los usuarios: Ana, Ramón, Marta, Eric, David
* Elimina los usuarios: Mario, Miguel, Esteban

`grupo = {"Miguel", "Blanca", "Mario", "Andrés"}`

In [ ]:
grupo = {"Miguel", "Blanca", "Mario", "Andrés"}

In [ ]:
grupo.update(['Ana', 'Ramón', 'Marta', 'Eric', 'David'])

In [ ]:
grupo

{'Ana',
 'Andrés',
 'Blanca',
 'David',
 'Eric',
 'Mario',
 'Marta',
 'Miguel',
 'Ramón'}

In [ ]:
grupo.discard('Mario')
grupo.discard('Miguel')
grupo.discard('Esteban')

In [ ]:
grupo = {'Miguel', 'Blanca', 'Mario', 'Andres'}
nuevos_usuarios = ['Ana', 'Ramón', 'Marta', 'Eric', 'David']
eliminados = ['Mario', 'Miguel', 'Esteban']

grupo.update(nuevos_usuarios)

for elemento in eliminados:
    grupo.discard(elemento)

print(grupo)

{'Marta', 'Blanca', 'David', 'Eric', 'Andres', 'Ramón', 'Ana'}

In [ ]:
print()

## Desafio 2

Programa las siguientes instrucciones de forma ordenada sobre la variable **animales**:

Inicialmente el diccionario es: `animales = {"elefante": ""}`

* Añade al diccionario las claves perro, tigre y mono con sus respectivos valores “Bobby”,  “Peepe” y “homero”
* Modificá las claves elefante y delfin con los valores “Trompis”y “Manolo” respectivamente

In [ ]:
animales = {"elefante": ""}

In [ ]:
animales.update({'perro': 'Bobby', 'tigre':'Peepe', 'mono': 'Homero'})

In [ ]:
animales

{'elefante': '', 'perro': 'Bobby', 'tigre': 'Peepe', 'mono': 'Homero'}

In [ ]:
animales['elefante'] = 'Trompis'

In [ ]:
animales

{'elefante': 'Trompis', 'perro': 'Bobby', 'tigre': 'Peepe', 'mono': 'Homero'}

In [ ]:
animales['delfin'] = 'Manolo'

In [ ]:
animales

{'elefante': 'Trompis',
 'perro': 'Bobby',
 'tigre': 'Peepe',
 'mono': 'Homero',
 'delfin': 'Manolo'}