<a href="https://colab.research.google.com/github/FlorcitaHnatiuk/FlorcitaHnatiuk/blob/main/ListasyTuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lista1 = [1, 12, 123]
lista2 = ["Bye", "Ciao", "Agur", "Adieu"]

lista1.append(1234)
lista1.append("Hola")
lista1

[1, 12, 123, 1234, 'Hola']

In [ ]:
lista2.append("Adios")
lista2.append(1234)
print(lista2)

['Bye', 'Ciao', 'Agur', 'Adieu', 'Adios', 1234]

In [ ]:
#Generar una lista con todos los elementos de la lista1 menos el Ãºltimo
lista3 = lista1[:-1]
lista3

[1, 12, 123, 1234]

In [ ]:
#Generar una lista menos el ultimo y el primero
lista4 = lista2[1:-1]
lista4

['Ciao', 'Agur', 'Adieu', 'Adios']

In [ ]:
lista5 = lista4+lista3
lista5

['Ciao', 'Agur', 'Adieu', 'Adios', 1, 12, 123, 1234]

**tuplas**

In [ ]:
tupla = (5, 12, 7, 37, 8, 86, 19, 7, -783, 87, 188, 7, 9, 12, 7, 3982)
tupla[-1]

3982

In [ ]:
len(tupla)

16

In [ ]:
tupla.index(87)

9

In [ ]:
tupla[-3:]

(12, 7, 3982)

In [ ]:
tupla[8]

-783

In [ ]:
# cuantas veces aparece el item 7 en la tupla?
tupla.count(7)

4

In [68]:
matriz = [
    [1, 5, 1],
    [2, 1, 2],
    [3, 0, 1],
    [1, 4, 4]
]

filas = len(matriz)

for fila in range(filas):
  suma = sum(matriz[fila])
  matriz[fila].append(suma)

print(matriz)

[[1, 5, 1, 7], [2, 1, 2, 5], [3, 0, 1, 4], [1, 4, 4, 9]]